/*
 * Village Wallet
 * APIs for Village Wallet
 *
 * The version of the OpenAPI document: 0.0.6
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package au.com.woolworths.village.sdk.openapi.api;

import com.google.gson.reflect.TypeToken;

import org.threeten.bp.OffsetDateTime;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import au.com.woolworths.village.sdk.openapi.client.ApiCallback;
import au.com.woolworths.village.sdk.openapi.client.ApiClient;
import au.com.woolworths.village.sdk.openapi.client.ApiException;
import au.com.woolworths.village.sdk.openapi.client.ApiResponse;
import au.com.woolworths.village.sdk.openapi.client.Configuration;
import au.com.woolworths.village.sdk.openapi.client.Pair;
import au.com.woolworths.village.sdk.openapi.dto.CustomerPaymentDetails;
import au.com.woolworths.village.sdk.openapi.dto.CustomerPaymentSessionResult;
import au.com.woolworths.village.sdk.openapi.dto.CustomerPreferences;
import au.com.woolworths.village.sdk.openapi.dto.CustomerPreferencesResult;
import au.com.woolworths.village.sdk.openapi.dto.GetCustomerPaymentInstrumentsResults;
import au.com.woolworths.village.sdk.openapi.dto.GetCustomerPaymentResult;
import au.com.woolworths.village.sdk.openapi.dto.GetCustomerTransactionDetailsResults;
import au.com.woolworths.village.sdk.openapi.dto.GetCustomerTransactionsResult;
import au.com.woolworths.village.sdk.openapi.dto.InitiatePaymentInstrumentAdditionResults;
import au.com.woolworths.village.sdk.openapi.dto.InstrumentAdditionDetails;
import au.com.woolworths.village.sdk.openapi.dto.MakeCustomerPaymentResults;
import au.com.woolworths.village.sdk.openapi.dto.UpdatePaymentSessionRequest;

public class CustomerApi {
    private ApiClient localVarApiClient;

    public CustomerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CustomerApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for customerUpdatePaymentSession
     * @param xWalletID  (required)
     * @param paymentSessionId The ID of the specific payment session to retrieve (required)
     * @param updatePaymentSessionRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> The payment session has been successfully updated. No content returned. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Session ID doesn&#39;t exist, has already been associated with a wallet or has expired </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call customerUpdatePaymentSessionCall(String xWalletID, String paymentSessionId, UpdatePaymentSessionRequest updatePaymentSessionRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = updatePaymentSessionRequest;

        // create path and map variables
        String localVarPath = "/customer/payment/session/{paymentSessionId}"
            .replaceAll("\\{" + "paymentSessionId" + "\\}", localVarApiClient.escapeString(paymentSessionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xWalletID != null) {
            localVarHeaderParams.put("X-Wallet-ID", localVarApiClient.parameterToString(xWalletID));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call customerUpdatePaymentSessionValidateBeforeCall(String xWalletID, String paymentSessionId, UpdatePaymentSessionRequest updatePaymentSessionRequest, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'xWalletID' is set
        if (xWalletID == null) {
            throw new ApiException("Missing the required parameter 'xWalletID' when calling customerUpdatePaymentSession(Async)");
        }
        
        // verify the required parameter 'paymentSessionId' is set
        if (paymentSessionId == null) {
            throw new ApiException("Missing the required parameter 'paymentSessionId' when calling customerUpdatePaymentSession(Async)");
        }
        
        // verify the required parameter 'updatePaymentSessionRequest' is set
        if (updatePaymentSessionRequest == null) {
            throw new ApiException("Missing the required parameter 'updatePaymentSessionRequest' when calling customerUpdatePaymentSession(Async)");
        }
        

        okhttp3.Call localVarCall = customerUpdatePaymentSessionCall(xWalletID, paymentSessionId, updatePaymentSessionRequest, _callback);
        return localVarCall;

    }

    /**
     * Update Payment Session
     * Update the payment session details
     * @param xWalletID  (required)
     * @param paymentSessionId The ID of the specific payment session to retrieve (required)
     * @param updatePaymentSessionRequest  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> The payment session has been successfully updated. No content returned. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Session ID doesn&#39;t exist, has already been associated with a wallet or has expired </td><td>  -  </td></tr>
     </table>
     */
    public void customerUpdatePaymentSession(String xWalletID, String paymentSessionId, UpdatePaymentSessionRequest updatePaymentSessionRequest) throws ApiException {
        customerUpdatePaymentSessionWithHttpInfo(xWalletID, paymentSessionId, updatePaymentSessionRequest);
    }

    /**
     * Update Payment Session
     * Update the payment session details
     * @param xWalletID  (required)
     * @param paymentSessionId The ID of the specific payment session to retrieve (required)
     * @param updatePaymentSessionRequest  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> The payment session has been successfully updated. No content returned. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Session ID doesn&#39;t exist, has already been associated with a wallet or has expired </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> customerUpdatePaymentSessionWithHttpInfo(String xWalletID, String paymentSessionId, UpdatePaymentSessionRequest updatePaymentSessionRequest) throws ApiException {
        okhttp3.Call localVarCall = customerUpdatePaymentSessionValidateBeforeCall(xWalletID, paymentSessionId, updatePaymentSessionRequest, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Update Payment Session (asynchronously)
     * Update the payment session details
     * @param xWalletID  (required)
     * @param paymentSessionId The ID of the specific payment session to retrieve (required)
     * @param updatePaymentSessionRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> The payment session has been successfully updated. No content returned. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Session ID doesn&#39;t exist, has already been associated with a wallet or has expired </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call customerUpdatePaymentSessionAsync(String xWalletID, String paymentSessionId, UpdatePaymentSessionRequest updatePaymentSessionRequest, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = customerUpdatePaymentSessionValidateBeforeCall(xWalletID, paymentSessionId, updatePaymentSessionRequest, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for deletePaymentInstrument
     * @param xWalletID  (required)
     * @param paymentInstrumentId The ID of the specific instrument (required)
     * @param xEverdayPayWallet The payment instrument to be deleted is in the everyday pay wallet (optional, default to false)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Payment Instrument successfully deleted.  No content returned </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deletePaymentInstrumentCall(String xWalletID, String paymentInstrumentId, Boolean xEverdayPayWallet, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/customer/instruments/{paymentInstrumentId}"
            .replaceAll("\\{" + "paymentInstrumentId" + "\\}", localVarApiClient.escapeString(paymentInstrumentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xWalletID != null) {
            localVarHeaderParams.put("X-Wallet-ID", localVarApiClient.parameterToString(xWalletID));
        }

        if (xEverdayPayWallet != null) {
            localVarHeaderParams.put("X-Everday-Pay-Wallet", localVarApiClient.parameterToString(xEverdayPayWallet));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call deletePaymentInstrumentValidateBeforeCall(String xWalletID, String paymentInstrumentId, Boolean xEverdayPayWallet, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'xWalletID' is set
        if (xWalletID == null) {
            throw new ApiException("Missing the required parameter 'xWalletID' when calling deletePaymentInstrument(Async)");
        }
        
        // verify the required parameter 'paymentInstrumentId' is set
        if (paymentInstrumentId == null) {
            throw new ApiException("Missing the required parameter 'paymentInstrumentId' when calling deletePaymentInstrument(Async)");
        }
        

        okhttp3.Call localVarCall = deletePaymentInstrumentCall(xWalletID, paymentInstrumentId, xEverdayPayWallet, _callback);
        return localVarCall;

    }

    /**
     * Delete a payment instrument
     * Delete an existing payment instrument
     * @param xWalletID  (required)
     * @param paymentInstrumentId The ID of the specific instrument (required)
     * @param xEverdayPayWallet The payment instrument to be deleted is in the everyday pay wallet (optional, default to false)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Payment Instrument successfully deleted.  No content returned </td><td>  -  </td></tr>
     </table>
     */
    public void deletePaymentInstrument(String xWalletID, String paymentInstrumentId, Boolean xEverdayPayWallet) throws ApiException {
        deletePaymentInstrumentWithHttpInfo(xWalletID, paymentInstrumentId, xEverdayPayWallet);
    }

    /**
     * Delete a payment instrument
     * Delete an existing payment instrument
     * @param xWalletID  (required)
     * @param paymentInstrumentId The ID of the specific instrument (required)
     * @param xEverdayPayWallet The payment instrument to be deleted is in the everyday pay wallet (optional, default to false)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Payment Instrument successfully deleted.  No content returned </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> deletePaymentInstrumentWithHttpInfo(String xWalletID, String paymentInstrumentId, Boolean xEverdayPayWallet) throws ApiException {
        okhttp3.Call localVarCall = deletePaymentInstrumentValidateBeforeCall(xWalletID, paymentInstrumentId, xEverdayPayWallet, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Delete a payment instrument (asynchronously)
     * Delete an existing payment instrument
     * @param xWalletID  (required)
     * @param paymentInstrumentId The ID of the specific instrument (required)
     * @param xEverdayPayWallet The payment instrument to be deleted is in the everyday pay wallet (optional, default to false)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Payment Instrument successfully deleted.  No content returned </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deletePaymentInstrumentAsync(String xWalletID, String paymentInstrumentId, Boolean xEverdayPayWallet, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = deletePaymentInstrumentValidateBeforeCall(xWalletID, paymentInstrumentId, xEverdayPayWallet, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for getCustomerPaymentDetailsByPaymentId
     * @param xWalletID  (required)
     * @param paymentRequestId The ID of the specific payment request (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Request ID doesn&#39;t exist, has been used or is expired </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCustomerPaymentDetailsByPaymentIdCall(String xWalletID, String paymentRequestId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/customer/payments/{paymentRequestId}"
            .replaceAll("\\{" + "paymentRequestId" + "\\}", localVarApiClient.escapeString(paymentRequestId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xWalletID != null) {
            localVarHeaderParams.put("X-Wallet-ID", localVarApiClient.parameterToString(xWalletID));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCustomerPaymentDetailsByPaymentIdValidateBeforeCall(String xWalletID, String paymentRequestId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'xWalletID' is set
        if (xWalletID == null) {
            throw new ApiException("Missing the required parameter 'xWalletID' when calling getCustomerPaymentDetailsByPaymentId(Async)");
        }
        
        // verify the required parameter 'paymentRequestId' is set
        if (paymentRequestId == null) {
            throw new ApiException("Missing the required parameter 'paymentRequestId' when calling getCustomerPaymentDetailsByPaymentId(Async)");
        }
        

        okhttp3.Call localVarCall = getCustomerPaymentDetailsByPaymentIdCall(xWalletID, paymentRequestId, _callback);
        return localVarCall;

    }

    /**
     * Get Payment Details
     * Get the details for a specific payment request so that the customer can pay using it
     * @param xWalletID  (required)
     * @param paymentRequestId The ID of the specific payment request (required)
     * @return GetCustomerPaymentResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Request ID doesn&#39;t exist, has been used or is expired </td><td>  -  </td></tr>
     </table>
     */
    public GetCustomerPaymentResult getCustomerPaymentDetailsByPaymentId(String xWalletID, String paymentRequestId) throws ApiException {
        ApiResponse<GetCustomerPaymentResult> localVarResp = getCustomerPaymentDetailsByPaymentIdWithHttpInfo(xWalletID, paymentRequestId);
        return localVarResp.getData();
    }

    /**
     * Get Payment Details
     * Get the details for a specific payment request so that the customer can pay using it
     * @param xWalletID  (required)
     * @param paymentRequestId The ID of the specific payment request (required)
     * @return ApiResponse&lt;GetCustomerPaymentResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Request ID doesn&#39;t exist, has been used or is expired </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<GetCustomerPaymentResult> getCustomerPaymentDetailsByPaymentIdWithHttpInfo(String xWalletID, String paymentRequestId) throws ApiException {
        okhttp3.Call localVarCall = getCustomerPaymentDetailsByPaymentIdValidateBeforeCall(xWalletID, paymentRequestId, null);
        Type localVarReturnType = new TypeToken<GetCustomerPaymentResult>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get Payment Details (asynchronously)
     * Get the details for a specific payment request so that the customer can pay using it
     * @param xWalletID  (required)
     * @param paymentRequestId The ID of the specific payment request (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Request ID doesn&#39;t exist, has been used or is expired </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCustomerPaymentDetailsByPaymentIdAsync(String xWalletID, String paymentRequestId, final ApiCallback<GetCustomerPaymentResult> _callback) throws ApiException {

        okhttp3.Call localVarCall = getCustomerPaymentDetailsByPaymentIdValidateBeforeCall(xWalletID, paymentRequestId, _callback);
        Type localVarReturnType = new TypeToken<GetCustomerPaymentResult>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getCustomerPaymentDetailsByQRCodeId
     * @param xWalletID  (required)
     * @param qrId The ID of the specific QR Code (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified QR Code ID doesn&#39;t exist or has been expired or the underlying payment request is no longer usable </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCustomerPaymentDetailsByQRCodeIdCall(String xWalletID, String qrId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/customer/qr/{qrId}"
            .replaceAll("\\{" + "qrId" + "\\}", localVarApiClient.escapeString(qrId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xWalletID != null) {
            localVarHeaderParams.put("X-Wallet-ID", localVarApiClient.parameterToString(xWalletID));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCustomerPaymentDetailsByQRCodeIdValidateBeforeCall(String xWalletID, String qrId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'xWalletID' is set
        if (xWalletID == null) {
            throw new ApiException("Missing the required parameter 'xWalletID' when calling getCustomerPaymentDetailsByQRCodeId(Async)");
        }
        
        // verify the required parameter 'qrId' is set
        if (qrId == null) {
            throw new ApiException("Missing the required parameter 'qrId' when calling getCustomerPaymentDetailsByQRCodeId(Async)");
        }
        

        okhttp3.Call localVarCall = getCustomerPaymentDetailsByQRCodeIdCall(xWalletID, qrId, _callback);
        return localVarCall;

    }

    /**
     * Get Payment From QR
     * Get the details for a specific payment from a QR Code ID so that the customer can pay using it
     * @param xWalletID  (required)
     * @param qrId The ID of the specific QR Code (required)
     * @return GetCustomerPaymentResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified QR Code ID doesn&#39;t exist or has been expired or the underlying payment request is no longer usable </td><td>  -  </td></tr>
     </table>
     */
    public GetCustomerPaymentResult getCustomerPaymentDetailsByQRCodeId(String xWalletID, String qrId) throws ApiException {
        ApiResponse<GetCustomerPaymentResult> localVarResp = getCustomerPaymentDetailsByQRCodeIdWithHttpInfo(xWalletID, qrId);
        return localVarResp.getData();
    }

    /**
     * Get Payment From QR
     * Get the details for a specific payment from a QR Code ID so that the customer can pay using it
     * @param xWalletID  (required)
     * @param qrId The ID of the specific QR Code (required)
     * @return ApiResponse&lt;GetCustomerPaymentResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified QR Code ID doesn&#39;t exist or has been expired or the underlying payment request is no longer usable </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<GetCustomerPaymentResult> getCustomerPaymentDetailsByQRCodeIdWithHttpInfo(String xWalletID, String qrId) throws ApiException {
        okhttp3.Call localVarCall = getCustomerPaymentDetailsByQRCodeIdValidateBeforeCall(xWalletID, qrId, null);
        Type localVarReturnType = new TypeToken<GetCustomerPaymentResult>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get Payment From QR (asynchronously)
     * Get the details for a specific payment from a QR Code ID so that the customer can pay using it
     * @param xWalletID  (required)
     * @param qrId The ID of the specific QR Code (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified QR Code ID doesn&#39;t exist or has been expired or the underlying payment request is no longer usable </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCustomerPaymentDetailsByQRCodeIdAsync(String xWalletID, String qrId, final ApiCallback<GetCustomerPaymentResult> _callback) throws ApiException {

        okhttp3.Call localVarCall = getCustomerPaymentDetailsByQRCodeIdValidateBeforeCall(xWalletID, qrId, _callback);
        Type localVarReturnType = new TypeToken<GetCustomerPaymentResult>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getCustomerPaymentInstruments
     * @param xWalletID  (required)
     * @param xEverdayPayWallet Includes everyday pay wallet in the list of payment instruments (optional, default to false)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCustomerPaymentInstrumentsCall(String xWalletID, Boolean xEverdayPayWallet, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/customer/instruments";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xWalletID != null) {
            localVarHeaderParams.put("X-Wallet-ID", localVarApiClient.parameterToString(xWalletID));
        }

        if (xEverdayPayWallet != null) {
            localVarHeaderParams.put("X-Everday-Pay-Wallet", localVarApiClient.parameterToString(xEverdayPayWallet));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCustomerPaymentInstrumentsValidateBeforeCall(String xWalletID, Boolean xEverdayPayWallet, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'xWalletID' is set
        if (xWalletID == null) {
            throw new ApiException("Missing the required parameter 'xWalletID' when calling getCustomerPaymentInstruments(Async)");
        }
        

        okhttp3.Call localVarCall = getCustomerPaymentInstrumentsCall(xWalletID, xEverdayPayWallet, _callback);
        return localVarCall;

    }

    /**
     * Get Payment Instruments
     * Get the list of payment instruments currently configured for the customer.  Returns an array of instrument records that can be used to execute payments
     * @param xWalletID  (required)
     * @param xEverdayPayWallet Includes everyday pay wallet in the list of payment instruments (optional, default to false)
     * @return GetCustomerPaymentInstrumentsResults
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public GetCustomerPaymentInstrumentsResults getCustomerPaymentInstruments(String xWalletID, Boolean xEverdayPayWallet) throws ApiException {
        ApiResponse<GetCustomerPaymentInstrumentsResults> localVarResp = getCustomerPaymentInstrumentsWithHttpInfo(xWalletID, xEverdayPayWallet);
        return localVarResp.getData();
    }

    /**
     * Get Payment Instruments
     * Get the list of payment instruments currently configured for the customer.  Returns an array of instrument records that can be used to execute payments
     * @param xWalletID  (required)
     * @param xEverdayPayWallet Includes everyday pay wallet in the list of payment instruments (optional, default to false)
     * @return ApiResponse&lt;GetCustomerPaymentInstrumentsResults&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<GetCustomerPaymentInstrumentsResults> getCustomerPaymentInstrumentsWithHttpInfo(String xWalletID, Boolean xEverdayPayWallet) throws ApiException {
        okhttp3.Call localVarCall = getCustomerPaymentInstrumentsValidateBeforeCall(xWalletID, xEverdayPayWallet, null);
        Type localVarReturnType = new TypeToken<GetCustomerPaymentInstrumentsResults>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get Payment Instruments (asynchronously)
     * Get the list of payment instruments currently configured for the customer.  Returns an array of instrument records that can be used to execute payments
     * @param xWalletID  (required)
     * @param xEverdayPayWallet Includes everyday pay wallet in the list of payment instruments (optional, default to false)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCustomerPaymentInstrumentsAsync(String xWalletID, Boolean xEverdayPayWallet, final ApiCallback<GetCustomerPaymentInstrumentsResults> _callback) throws ApiException {

        okhttp3.Call localVarCall = getCustomerPaymentInstrumentsValidateBeforeCall(xWalletID, xEverdayPayWallet, _callback);
        Type localVarReturnType = new TypeToken<GetCustomerPaymentInstrumentsResults>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getCustomerPaymentSession
     * @param xWalletID  (required)
     * @param paymentSessionId The ID of the specific payment session to retrieve (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Session ID doesn&#39;t exist or has expired </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCustomerPaymentSessionCall(String xWalletID, String paymentSessionId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/customer/payment/session/{paymentSessionId}"
            .replaceAll("\\{" + "paymentSessionId" + "\\}", localVarApiClient.escapeString(paymentSessionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xWalletID != null) {
            localVarHeaderParams.put("X-Wallet-ID", localVarApiClient.parameterToString(xWalletID));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCustomerPaymentSessionValidateBeforeCall(String xWalletID, String paymentSessionId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'xWalletID' is set
        if (xWalletID == null) {
            throw new ApiException("Missing the required parameter 'xWalletID' when calling getCustomerPaymentSession(Async)");
        }
        
        // verify the required parameter 'paymentSessionId' is set
        if (paymentSessionId == null) {
            throw new ApiException("Missing the required parameter 'paymentSessionId' when calling getCustomerPaymentSession(Async)");
        }
        

        okhttp3.Call localVarCall = getCustomerPaymentSessionCall(xWalletID, paymentSessionId, _callback);
        return localVarCall;

    }

    /**
     * Get Payment Session
     * Get the details of a payment session
     * @param xWalletID  (required)
     * @param paymentSessionId The ID of the specific payment session to retrieve (required)
     * @return CustomerPaymentSessionResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Session ID doesn&#39;t exist or has expired </td><td>  -  </td></tr>
     </table>
     */
    public CustomerPaymentSessionResult getCustomerPaymentSession(String xWalletID, String paymentSessionId) throws ApiException {
        ApiResponse<CustomerPaymentSessionResult> localVarResp = getCustomerPaymentSessionWithHttpInfo(xWalletID, paymentSessionId);
        return localVarResp.getData();
    }

    /**
     * Get Payment Session
     * Get the details of a payment session
     * @param xWalletID  (required)
     * @param paymentSessionId The ID of the specific payment session to retrieve (required)
     * @return ApiResponse&lt;CustomerPaymentSessionResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Session ID doesn&#39;t exist or has expired </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CustomerPaymentSessionResult> getCustomerPaymentSessionWithHttpInfo(String xWalletID, String paymentSessionId) throws ApiException {
        okhttp3.Call localVarCall = getCustomerPaymentSessionValidateBeforeCall(xWalletID, paymentSessionId, null);
        Type localVarReturnType = new TypeToken<CustomerPaymentSessionResult>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get Payment Session (asynchronously)
     * Get the details of a payment session
     * @param xWalletID  (required)
     * @param paymentSessionId The ID of the specific payment session to retrieve (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Session ID doesn&#39;t exist or has expired </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCustomerPaymentSessionAsync(String xWalletID, String paymentSessionId, final ApiCallback<CustomerPaymentSessionResult> _callback) throws ApiException {

        okhttp3.Call localVarCall = getCustomerPaymentSessionValidateBeforeCall(xWalletID, paymentSessionId, _callback);
        Type localVarReturnType = new TypeToken<CustomerPaymentSessionResult>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getCustomerPaymentSessionByQr
     * @param xWalletID  (required)
     * @param qrId The ID of the qr relating to the payment session (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Session ID doesn&#39;t exist, has been used or is expired </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCustomerPaymentSessionByQrCall(String xWalletID, String qrId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/customer/payment/session/qr/{qrId}"
            .replaceAll("\\{" + "qrId" + "\\}", localVarApiClient.escapeString(qrId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xWalletID != null) {
            localVarHeaderParams.put("X-Wallet-ID", localVarApiClient.parameterToString(xWalletID));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCustomerPaymentSessionByQrValidateBeforeCall(String xWalletID, String qrId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'xWalletID' is set
        if (xWalletID == null) {
            throw new ApiException("Missing the required parameter 'xWalletID' when calling getCustomerPaymentSessionByQr(Async)");
        }
        
        // verify the required parameter 'qrId' is set
        if (qrId == null) {
            throw new ApiException("Missing the required parameter 'qrId' when calling getCustomerPaymentSessionByQr(Async)");
        }
        

        okhttp3.Call localVarCall = getCustomerPaymentSessionByQrCall(xWalletID, qrId, _callback);
        return localVarCall;

    }

    /**
     * Get Payment Session
     * Get the payment session associated with the qrId
     * @param xWalletID  (required)
     * @param qrId The ID of the qr relating to the payment session (required)
     * @return CustomerPaymentSessionResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Session ID doesn&#39;t exist, has been used or is expired </td><td>  -  </td></tr>
     </table>
     */
    public CustomerPaymentSessionResult getCustomerPaymentSessionByQr(String xWalletID, String qrId) throws ApiException {
        ApiResponse<CustomerPaymentSessionResult> localVarResp = getCustomerPaymentSessionByQrWithHttpInfo(xWalletID, qrId);
        return localVarResp.getData();
    }

    /**
     * Get Payment Session
     * Get the payment session associated with the qrId
     * @param xWalletID  (required)
     * @param qrId The ID of the qr relating to the payment session (required)
     * @return ApiResponse&lt;CustomerPaymentSessionResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Session ID doesn&#39;t exist, has been used or is expired </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CustomerPaymentSessionResult> getCustomerPaymentSessionByQrWithHttpInfo(String xWalletID, String qrId) throws ApiException {
        okhttp3.Call localVarCall = getCustomerPaymentSessionByQrValidateBeforeCall(xWalletID, qrId, null);
        Type localVarReturnType = new TypeToken<CustomerPaymentSessionResult>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get Payment Session (asynchronously)
     * Get the payment session associated with the qrId
     * @param xWalletID  (required)
     * @param qrId The ID of the qr relating to the payment session (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Session ID doesn&#39;t exist, has been used or is expired </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCustomerPaymentSessionByQrAsync(String xWalletID, String qrId, final ApiCallback<CustomerPaymentSessionResult> _callback) throws ApiException {

        okhttp3.Call localVarCall = getCustomerPaymentSessionByQrValidateBeforeCall(xWalletID, qrId, _callback);
        Type localVarReturnType = new TypeToken<CustomerPaymentSessionResult>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getCustomerPreferences
     * @param xWalletID  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCustomerPreferencesCall(String xWalletID, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/customer/preferences";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xWalletID != null) {
            localVarHeaderParams.put("X-Wallet-ID", localVarApiClient.parameterToString(xWalletID));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCustomerPreferencesValidateBeforeCall(String xWalletID, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'xWalletID' is set
        if (xWalletID == null) {
            throw new ApiException("Missing the required parameter 'xWalletID' when calling getCustomerPreferences(Async)");
        }
        

        okhttp3.Call localVarCall = getCustomerPreferencesCall(xWalletID, _callback);
        return localVarCall;

    }

    /**
     * Get Preferences
     * Get the preferences previously set by the customer or merchant (depending on calling identity)
     * @param xWalletID  (required)
     * @return CustomerPreferencesResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public CustomerPreferencesResult getCustomerPreferences(String xWalletID) throws ApiException {
        ApiResponse<CustomerPreferencesResult> localVarResp = getCustomerPreferencesWithHttpInfo(xWalletID);
        return localVarResp.getData();
    }

    /**
     * Get Preferences
     * Get the preferences previously set by the customer or merchant (depending on calling identity)
     * @param xWalletID  (required)
     * @return ApiResponse&lt;CustomerPreferencesResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CustomerPreferencesResult> getCustomerPreferencesWithHttpInfo(String xWalletID) throws ApiException {
        okhttp3.Call localVarCall = getCustomerPreferencesValidateBeforeCall(xWalletID, null);
        Type localVarReturnType = new TypeToken<CustomerPreferencesResult>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get Preferences (asynchronously)
     * Get the preferences previously set by the customer or merchant (depending on calling identity)
     * @param xWalletID  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCustomerPreferencesAsync(String xWalletID, final ApiCallback<CustomerPreferencesResult> _callback) throws ApiException {

        okhttp3.Call localVarCall = getCustomerPreferencesValidateBeforeCall(xWalletID, _callback);
        Type localVarReturnType = new TypeToken<CustomerPreferencesResult>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getCustomerTransactionDetails
     * @param xWalletID  (required)
     * @param transactionId The ID of the specific transaction (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCustomerTransactionDetailsCall(String xWalletID, String transactionId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/customer/transactions/{transactionId}"
            .replaceAll("\\{" + "transactionId" + "\\}", localVarApiClient.escapeString(transactionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xWalletID != null) {
            localVarHeaderParams.put("X-Wallet-ID", localVarApiClient.parameterToString(xWalletID));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCustomerTransactionDetailsValidateBeforeCall(String xWalletID, String transactionId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'xWalletID' is set
        if (xWalletID == null) {
            throw new ApiException("Missing the required parameter 'xWalletID' when calling getCustomerTransactionDetails(Async)");
        }
        
        // verify the required parameter 'transactionId' is set
        if (transactionId == null) {
            throw new ApiException("Missing the required parameter 'transactionId' when calling getCustomerTransactionDetails(Async)");
        }
        

        okhttp3.Call localVarCall = getCustomerTransactionDetailsCall(xWalletID, transactionId, _callback);
        return localVarCall;

    }

    /**
     * Get Transaction Details
     * Get the details for a specific transaction previously executed by the customer.  Note that amounts are relative to the merchant.  A positive amount is a positive amount transferred to a merchant
     * @param xWalletID  (required)
     * @param transactionId The ID of the specific transaction (required)
     * @return GetCustomerTransactionDetailsResults
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public GetCustomerTransactionDetailsResults getCustomerTransactionDetails(String xWalletID, String transactionId) throws ApiException {
        ApiResponse<GetCustomerTransactionDetailsResults> localVarResp = getCustomerTransactionDetailsWithHttpInfo(xWalletID, transactionId);
        return localVarResp.getData();
    }

    /**
     * Get Transaction Details
     * Get the details for a specific transaction previously executed by the customer.  Note that amounts are relative to the merchant.  A positive amount is a positive amount transferred to a merchant
     * @param xWalletID  (required)
     * @param transactionId The ID of the specific transaction (required)
     * @return ApiResponse&lt;GetCustomerTransactionDetailsResults&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<GetCustomerTransactionDetailsResults> getCustomerTransactionDetailsWithHttpInfo(String xWalletID, String transactionId) throws ApiException {
        okhttp3.Call localVarCall = getCustomerTransactionDetailsValidateBeforeCall(xWalletID, transactionId, null);
        Type localVarReturnType = new TypeToken<GetCustomerTransactionDetailsResults>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get Transaction Details (asynchronously)
     * Get the details for a specific transaction previously executed by the customer.  Note that amounts are relative to the merchant.  A positive amount is a positive amount transferred to a merchant
     * @param xWalletID  (required)
     * @param transactionId The ID of the specific transaction (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCustomerTransactionDetailsAsync(String xWalletID, String transactionId, final ApiCallback<GetCustomerTransactionDetailsResults> _callback) throws ApiException {

        okhttp3.Call localVarCall = getCustomerTransactionDetailsValidateBeforeCall(xWalletID, transactionId, _callback);
        Type localVarReturnType = new TypeToken<GetCustomerTransactionDetailsResults>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getCustomerTransactions
     * @param xWalletID  (required)
     * @param paymentRequestId If present, limits the list of transactions to those that relate to the payment request (optional)
     * @param startTime If present, the date/time to limit transactions returned.  Transactions older than this time will not be returned (optional)
     * @param endTime If present, the date/time to limit transactions returned.  Transactions newer than this time will not be returned (optional)
     * @param pageSize The number of records to return for this page.  Defaults to 25 if absent (optional, default to 25)
     * @param page The page of results to return with 1 indicating the first page.  Defaults to 1 if absent (optional, default to 1)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCustomerTransactionsCall(String xWalletID, String paymentRequestId, OffsetDateTime startTime, OffsetDateTime endTime, Integer pageSize, Integer page, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/customer/transactions";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (paymentRequestId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("paymentRequestId", paymentRequestId));
        }

        if (startTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("start-time", startTime));
        }

        if (endTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("end-time", endTime));
        }

        if (pageSize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page-size", pageSize));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xWalletID != null) {
            localVarHeaderParams.put("X-Wallet-ID", localVarApiClient.parameterToString(xWalletID));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCustomerTransactionsValidateBeforeCall(String xWalletID, String paymentRequestId, OffsetDateTime startTime, OffsetDateTime endTime, Integer pageSize, Integer page, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'xWalletID' is set
        if (xWalletID == null) {
            throw new ApiException("Missing the required parameter 'xWalletID' when calling getCustomerTransactions(Async)");
        }
        

        okhttp3.Call localVarCall = getCustomerTransactionsCall(xWalletID, paymentRequestId, startTime, endTime, pageSize, page, _callback);
        return localVarCall;

    }

    /**
     * Get Transaction List
     * Get a list of the previously executed transactions for the customer.  Note that amounts are relative to the merchant.  A positive amount is a positive amount transferred to a merchant
     * @param xWalletID  (required)
     * @param paymentRequestId If present, limits the list of transactions to those that relate to the payment request (optional)
     * @param startTime If present, the date/time to limit transactions returned.  Transactions older than this time will not be returned (optional)
     * @param endTime If present, the date/time to limit transactions returned.  Transactions newer than this time will not be returned (optional)
     * @param pageSize The number of records to return for this page.  Defaults to 25 if absent (optional, default to 25)
     * @param page The page of results to return with 1 indicating the first page.  Defaults to 1 if absent (optional, default to 1)
     * @return GetCustomerTransactionsResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public GetCustomerTransactionsResult getCustomerTransactions(String xWalletID, String paymentRequestId, OffsetDateTime startTime, OffsetDateTime endTime, Integer pageSize, Integer page) throws ApiException {
        ApiResponse<GetCustomerTransactionsResult> localVarResp = getCustomerTransactionsWithHttpInfo(xWalletID, paymentRequestId, startTime, endTime, pageSize, page);
        return localVarResp.getData();
    }

    /**
     * Get Transaction List
     * Get a list of the previously executed transactions for the customer.  Note that amounts are relative to the merchant.  A positive amount is a positive amount transferred to a merchant
     * @param xWalletID  (required)
     * @param paymentRequestId If present, limits the list of transactions to those that relate to the payment request (optional)
     * @param startTime If present, the date/time to limit transactions returned.  Transactions older than this time will not be returned (optional)
     * @param endTime If present, the date/time to limit transactions returned.  Transactions newer than this time will not be returned (optional)
     * @param pageSize The number of records to return for this page.  Defaults to 25 if absent (optional, default to 25)
     * @param page The page of results to return with 1 indicating the first page.  Defaults to 1 if absent (optional, default to 1)
     * @return ApiResponse&lt;GetCustomerTransactionsResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<GetCustomerTransactionsResult> getCustomerTransactionsWithHttpInfo(String xWalletID, String paymentRequestId, OffsetDateTime startTime, OffsetDateTime endTime, Integer pageSize, Integer page) throws ApiException {
        okhttp3.Call localVarCall = getCustomerTransactionsValidateBeforeCall(xWalletID, paymentRequestId, startTime, endTime, pageSize, page, null);
        Type localVarReturnType = new TypeToken<GetCustomerTransactionsResult>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get Transaction List (asynchronously)
     * Get a list of the previously executed transactions for the customer.  Note that amounts are relative to the merchant.  A positive amount is a positive amount transferred to a merchant
     * @param xWalletID  (required)
     * @param paymentRequestId If present, limits the list of transactions to those that relate to the payment request (optional)
     * @param startTime If present, the date/time to limit transactions returned.  Transactions older than this time will not be returned (optional)
     * @param endTime If present, the date/time to limit transactions returned.  Transactions newer than this time will not be returned (optional)
     * @param pageSize The number of records to return for this page.  Defaults to 25 if absent (optional, default to 25)
     * @param page The page of results to return with 1 indicating the first page.  Defaults to 1 if absent (optional, default to 1)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCustomerTransactionsAsync(String xWalletID, String paymentRequestId, OffsetDateTime startTime, OffsetDateTime endTime, Integer pageSize, Integer page, final ApiCallback<GetCustomerTransactionsResult> _callback) throws ApiException {

        okhttp3.Call localVarCall = getCustomerTransactionsValidateBeforeCall(xWalletID, paymentRequestId, startTime, endTime, pageSize, page, _callback);
        Type localVarReturnType = new TypeToken<GetCustomerTransactionsResult>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for initiatePaymentInstrumentAddition
     * @param xWalletID  (required)
     * @param instrumentAdditionDetails  (required)
     * @param xEverdayPayWallet The payment instrument should be stored in the everyday pay wallet (optional, default to false)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call initiatePaymentInstrumentAdditionCall(String xWalletID, InstrumentAdditionDetails instrumentAdditionDetails, Boolean xEverdayPayWallet, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = instrumentAdditionDetails;

        // create path and map variables
        String localVarPath = "/customer/instruments";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xWalletID != null) {
            localVarHeaderParams.put("X-Wallet-ID", localVarApiClient.parameterToString(xWalletID));
        }

        if (xEverdayPayWallet != null) {
            localVarHeaderParams.put("X-Everday-Pay-Wallet", localVarApiClient.parameterToString(xEverdayPayWallet));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call initiatePaymentInstrumentAdditionValidateBeforeCall(String xWalletID, InstrumentAdditionDetails instrumentAdditionDetails, Boolean xEverdayPayWallet, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'xWalletID' is set
        if (xWalletID == null) {
            throw new ApiException("Missing the required parameter 'xWalletID' when calling initiatePaymentInstrumentAddition(Async)");
        }
        
        // verify the required parameter 'instrumentAdditionDetails' is set
        if (instrumentAdditionDetails == null) {
            throw new ApiException("Missing the required parameter 'instrumentAdditionDetails' when calling initiatePaymentInstrumentAddition(Async)");
        }
        

        okhttp3.Call localVarCall = initiatePaymentInstrumentAdditionCall(xWalletID, instrumentAdditionDetails, xEverdayPayWallet, _callback);
        return localVarCall;

    }

    /**
     * Initiate Instrument Addition
     * Initiate the addition of a new payment instrument for this customer.  This API returns a URL to be used to access the DigiPay IFrame based interface to request the customer to enter a payment instrument details.
     * @param xWalletID  (required)
     * @param instrumentAdditionDetails  (required)
     * @param xEverdayPayWallet The payment instrument should be stored in the everyday pay wallet (optional, default to false)
     * @return InitiatePaymentInstrumentAdditionResults
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public InitiatePaymentInstrumentAdditionResults initiatePaymentInstrumentAddition(String xWalletID, InstrumentAdditionDetails instrumentAdditionDetails, Boolean xEverdayPayWallet) throws ApiException {
        ApiResponse<InitiatePaymentInstrumentAdditionResults> localVarResp = initiatePaymentInstrumentAdditionWithHttpInfo(xWalletID, instrumentAdditionDetails, xEverdayPayWallet);
        return localVarResp.getData();
    }

    /**
     * Initiate Instrument Addition
     * Initiate the addition of a new payment instrument for this customer.  This API returns a URL to be used to access the DigiPay IFrame based interface to request the customer to enter a payment instrument details.
     * @param xWalletID  (required)
     * @param instrumentAdditionDetails  (required)
     * @param xEverdayPayWallet The payment instrument should be stored in the everyday pay wallet (optional, default to false)
     * @return ApiResponse&lt;InitiatePaymentInstrumentAdditionResults&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InitiatePaymentInstrumentAdditionResults> initiatePaymentInstrumentAdditionWithHttpInfo(String xWalletID, InstrumentAdditionDetails instrumentAdditionDetails, Boolean xEverdayPayWallet) throws ApiException {
        okhttp3.Call localVarCall = initiatePaymentInstrumentAdditionValidateBeforeCall(xWalletID, instrumentAdditionDetails, xEverdayPayWallet, null);
        Type localVarReturnType = new TypeToken<InitiatePaymentInstrumentAdditionResults>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Initiate Instrument Addition (asynchronously)
     * Initiate the addition of a new payment instrument for this customer.  This API returns a URL to be used to access the DigiPay IFrame based interface to request the customer to enter a payment instrument details.
     * @param xWalletID  (required)
     * @param instrumentAdditionDetails  (required)
     * @param xEverdayPayWallet The payment instrument should be stored in the everyday pay wallet (optional, default to false)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call initiatePaymentInstrumentAdditionAsync(String xWalletID, InstrumentAdditionDetails instrumentAdditionDetails, Boolean xEverdayPayWallet, final ApiCallback<InitiatePaymentInstrumentAdditionResults> _callback) throws ApiException {

        okhttp3.Call localVarCall = initiatePaymentInstrumentAdditionValidateBeforeCall(xWalletID, instrumentAdditionDetails, xEverdayPayWallet, _callback);
        Type localVarReturnType = new TypeToken<InitiatePaymentInstrumentAdditionResults>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for makeCustomerPayment
     * @param xWalletID  (required)
     * @param paymentRequestId The ID of the specific payment request (required)
     * @param customerPaymentDetails  (required)
     * @param xEverdayPayWallet The makes instruments available in the everyday pay wallet available for payments (optional, default to false)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Request ID doesn&#39;t exist, has been used or is expired </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call makeCustomerPaymentCall(String xWalletID, String paymentRequestId, CustomerPaymentDetails customerPaymentDetails, Boolean xEverdayPayWallet, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = customerPaymentDetails;

        // create path and map variables
        String localVarPath = "/customer/payments/{paymentRequestId}"
            .replaceAll("\\{" + "paymentRequestId" + "\\}", localVarApiClient.escapeString(paymentRequestId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xWalletID != null) {
            localVarHeaderParams.put("X-Wallet-ID", localVarApiClient.parameterToString(xWalletID));
        }

        if (xEverdayPayWallet != null) {
            localVarHeaderParams.put("X-Everday-Pay-Wallet", localVarApiClient.parameterToString(xEverdayPayWallet));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call makeCustomerPaymentValidateBeforeCall(String xWalletID, String paymentRequestId, CustomerPaymentDetails customerPaymentDetails, Boolean xEverdayPayWallet, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'xWalletID' is set
        if (xWalletID == null) {
            throw new ApiException("Missing the required parameter 'xWalletID' when calling makeCustomerPayment(Async)");
        }
        
        // verify the required parameter 'paymentRequestId' is set
        if (paymentRequestId == null) {
            throw new ApiException("Missing the required parameter 'paymentRequestId' when calling makeCustomerPayment(Async)");
        }
        
        // verify the required parameter 'customerPaymentDetails' is set
        if (customerPaymentDetails == null) {
            throw new ApiException("Missing the required parameter 'customerPaymentDetails' when calling makeCustomerPayment(Async)");
        }
        

        okhttp3.Call localVarCall = makeCustomerPaymentCall(xWalletID, paymentRequestId, customerPaymentDetails, xEverdayPayWallet, _callback);
        return localVarCall;

    }

    /**
     * Pay Payment
     * Pay a specific payment using the instrument details provided
     * @param xWalletID  (required)
     * @param paymentRequestId The ID of the specific payment request (required)
     * @param customerPaymentDetails  (required)
     * @param xEverdayPayWallet The makes instruments available in the everyday pay wallet available for payments (optional, default to false)
     * @return MakeCustomerPaymentResults
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Request ID doesn&#39;t exist, has been used or is expired </td><td>  -  </td></tr>
     </table>
     */
    public MakeCustomerPaymentResults makeCustomerPayment(String xWalletID, String paymentRequestId, CustomerPaymentDetails customerPaymentDetails, Boolean xEverdayPayWallet) throws ApiException {
        ApiResponse<MakeCustomerPaymentResults> localVarResp = makeCustomerPaymentWithHttpInfo(xWalletID, paymentRequestId, customerPaymentDetails, xEverdayPayWallet);
        return localVarResp.getData();
    }

    /**
     * Pay Payment
     * Pay a specific payment using the instrument details provided
     * @param xWalletID  (required)
     * @param paymentRequestId The ID of the specific payment request (required)
     * @param customerPaymentDetails  (required)
     * @param xEverdayPayWallet The makes instruments available in the everyday pay wallet available for payments (optional, default to false)
     * @return ApiResponse&lt;MakeCustomerPaymentResults&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Request ID doesn&#39;t exist, has been used or is expired </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<MakeCustomerPaymentResults> makeCustomerPaymentWithHttpInfo(String xWalletID, String paymentRequestId, CustomerPaymentDetails customerPaymentDetails, Boolean xEverdayPayWallet) throws ApiException {
        okhttp3.Call localVarCall = makeCustomerPaymentValidateBeforeCall(xWalletID, paymentRequestId, customerPaymentDetails, xEverdayPayWallet, null);
        Type localVarReturnType = new TypeToken<MakeCustomerPaymentResults>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Pay Payment (asynchronously)
     * Pay a specific payment using the instrument details provided
     * @param xWalletID  (required)
     * @param paymentRequestId The ID of the specific payment request (required)
     * @param customerPaymentDetails  (required)
     * @param xEverdayPayWallet The makes instruments available in the everyday pay wallet available for payments (optional, default to false)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful response </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The specified Payment Request ID doesn&#39;t exist, has been used or is expired </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call makeCustomerPaymentAsync(String xWalletID, String paymentRequestId, CustomerPaymentDetails customerPaymentDetails, Boolean xEverdayPayWallet, final ApiCallback<MakeCustomerPaymentResults> _callback) throws ApiException {

        okhttp3.Call localVarCall = makeCustomerPaymentValidateBeforeCall(xWalletID, paymentRequestId, customerPaymentDetails, xEverdayPayWallet, _callback);
        Type localVarReturnType = new TypeToken<MakeCustomerPaymentResults>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for setCustomerPreferences
     * @param xWalletID  (required)
     * @param customerPreferences  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Preferences successfully updated.  No content returned </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call setCustomerPreferencesCall(String xWalletID, CustomerPreferences customerPreferences, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = customerPreferences;

        // create path and map variables
        String localVarPath = "/customer/preferences";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xWalletID != null) {
            localVarHeaderParams.put("X-Wallet-ID", localVarApiClient.parameterToString(xWalletID));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call setCustomerPreferencesValidateBeforeCall(String xWalletID, CustomerPreferences customerPreferences, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'xWalletID' is set
        if (xWalletID == null) {
            throw new ApiException("Missing the required parameter 'xWalletID' when calling setCustomerPreferences(Async)");
        }
        
        // verify the required parameter 'customerPreferences' is set
        if (customerPreferences == null) {
            throw new ApiException("Missing the required parameter 'customerPreferences' when calling setCustomerPreferences(Async)");
        }
        

        okhttp3.Call localVarCall = setCustomerPreferencesCall(xWalletID, customerPreferences, _callback);
        return localVarCall;

    }

    /**
     * Set Preferences
     * Change the preferences for the customer or merchant (depending on calling identity)
     * @param xWalletID  (required)
     * @param customerPreferences  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Preferences successfully updated.  No content returned </td><td>  -  </td></tr>
     </table>
     */
    public void setCustomerPreferences(String xWalletID, CustomerPreferences customerPreferences) throws ApiException {
        setCustomerPreferencesWithHttpInfo(xWalletID, customerPreferences);
    }

    /**
     * Set Preferences
     * Change the preferences for the customer or merchant (depending on calling identity)
     * @param xWalletID  (required)
     * @param customerPreferences  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Preferences successfully updated.  No content returned </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> setCustomerPreferencesWithHttpInfo(String xWalletID, CustomerPreferences customerPreferences) throws ApiException {
        okhttp3.Call localVarCall = setCustomerPreferencesValidateBeforeCall(xWalletID, customerPreferences, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Set Preferences (asynchronously)
     * Change the preferences for the customer or merchant (depending on calling identity)
     * @param xWalletID  (required)
     * @param customerPreferences  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Preferences successfully updated.  No content returned </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call setCustomerPreferencesAsync(String xWalletID, CustomerPreferences customerPreferences, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = setCustomerPreferencesValidateBeforeCall(xWalletID, customerPreferences, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
}
